<script id="error-message" type="text/html">
    <!-- ko template:{
        name:"well-message",
        data:{
            text:$data,
            css:'deep-orange darken-4'
        }
    } -->
    <!-- /ko -->
</script>

<script id="well-message" type="text/html">
    <div class="blur-block">
        <span data-bind='text:$data.text'></span></span>
    </div>
</script>


<script id="model_field_display" type="text/html">
    <!-- ko if:$data.field=='TableActions' -->
        <a class="dropdown-trigger waves-effect right waves-light  mdl-button mdl-js-button mdl-button--icon" 
        data-bind='
            attr:{id:"table-actions-"+$data.model._id()}, 
            clickBubble: false,
            permissions:["admin","expert"]
        '>
            <i class="material-icons">more_vert</i>
        </a>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-bind='
            attr:{for:"table-actions-"+$data.model._id()},
            foreach:[
                {click:ModelTableEdit.editTable.bind(null,$data.model),text:"Редактировать"},
                {click:ModelTableEdit.deleteTable.bind(null,$data.model),text:"Удалить"}
            ],
            mdl-component:{}
            '>
        <li class="mdl-menu__item" data-bind='click:$data.click,text:$data.text'></li>
        </ul>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_html' -->
        <span data-bind='html:$data.model[$data.field]'></span>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_text' -->
        <span data-bind='text:$data.model[$data.field]'></span>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_time' -->
        <span data-bind='text:$data.model[$data.field]'></span>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_number' -->
    <span data-bind='text:$data.model[$data.field]'></span>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_array' -->
        <!-- ko foreach:$data.model[$data.field]() -->
            <span data-bind='lang:$data'></span>
        <!-- /ko -->    
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_select' -->
        <!-- ko with:$data.model[$data.field] -->
            <span data-bind='lang:$data'></span>
        <!-- /ko -->    
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'user_avatar' -->
    <span class='avatar' data-bind='letterAvatar:{img:$data.model[$data.field],name:$data.model.NameUser}'></span>
    <!-- /ko -->
    <!-- ko ifnot:_.includes(['form_time','form_number','user_avatar','form_select','form_array','form_text','form_html'],$data.model.template($data.field)) -->
    <span data-bind='text:"["+$data.model.template($data.field)+"]"'></span>
    <!-- /ko -->
    <!-- ko if:$data.field.indexOf(":")!=-1 -->
        <div class="fields-group-item">    
        <!-- ko foreach:$data.field.split(":") -->
            <div class='field ' data-bind='css:$data' -->
            <!-- ko template:{
                name:"model_field_display",
                data:{
                    model:$parent.model,
                    field:$data
                }
            } --><!-- /ko -->
            </div>
        <!-- /ko -->
        </div>        
    <!-- /ko -->
</script>



<script id="model_field_edit" type="text/html">
    <!-- ko if:$data.model.template($data.field) == 'form_color' -->
    <div class="input-field col s12">
        <div  class="file-field" data-bind='colorpicker:$data.model[$data.field]'>
          <div class="btn"></div>
          <div class="file-path-wrapper">
            <input type="text" />
          </div>
        </div>            
    </div>
    <!-- /ko -->        
    <!-- ko if:$data.model.template($data.field) == 'form_time' -->
    <div class="input-field col s12">
        <input type="text" autocomplete="off" data-bind='attr:{id:$data.field},value:$data.model[$data.field],valueUpdate:"keyup",time_mask:"Hh:Mm"'>
        <label data-bind='attr:{for:$data.field},css:{active:_.isFunction($data.model[$data.field]) && !_.isEmpty($data.model[$data.field]())},lang:$data.field'></label>
    </div>
    <!-- /ko -->      
    <!-- ko if:$data.model.template($data.field) == 'form_time_range' -->
    <div class="input-field col s12">
        <input type="text" autocomplete="off" data-bind='attr:{id:$data.field},value:$data.model[$data.field],valueUpdate:"keyup",time_mask:"Hh:Mm-Hh:Mm"'>
        <label data-bind='attr:{for:$data.field},css:{active:_.isFunction($data.model[$data.field]) && !_.isEmpty($data.model[$data.field]())},lang:$data.field'></label>
    </div>
    <!-- /ko -->     
    <!-- ko if:$data.model.template($data.field) == 'form_time_ranges' -->
    <div class="input-field col s12">
        <div class="form-field-header">Время обеда
        <a class="btn-floating right waves-effect waves-light btn-small" data-bind='click:function(){
            $data.model[$data.field].push("");
            return true;
        }'><i class="material-icons">add</i></a>
        </div>
        <!-- ko foreach:$data.model[$data.field] -->
            <div class="input-field col s1">
                <a class="btn-floating left waves-effect waves-light btn-small red" data-bind='click:function(){
                    $parent.model[$parent.field].remove($data);
                    return true;
                }'><i class="material-icons">remove</i></a>
            </div>
            <div class="input-field col s11">
                <input type="text" autocomplete="off" data-bind='attr:{
                    id:"timerange"+$index()},
                    value:$parent.model[$parent.field]()[$index()],
                    valueUpdate:"keyup",
                    time_mask:"Hh:Mm-Hh:Mm"'
                >
            </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->     
    <!-- ko if:$data.model.template($data.field) == 'form_text' -->
    <div class="input-field col s12">
        <input type="text" autocomplete="off" data-bind='attr:{id:$data.field},value:$data.model[$data.field],valueUpdate:"keyup"'>
        <label data-bind='attr:{for:$data.field},css:{active:_.isFunction($data.model[$data.field]) && !_.isEmpty($data.model[$data.field]())},lang:$data.field'></label>
    </div>
    <!-- /ko -->     
    <!-- ko if:$data.model.template($data.field) == 'form_switch' -->
    <div class="input-field col s12">
         <div class="switch">
            <span class="switch-name" data-bind='lang:$data.field'></span>
            <label class='switch'>
              <input type="checkbox"  data-bind='checked:$data.model[$data.field]'>
              <span class="lever"></span>
            </label>
         </div>
    </div>
    <!-- /ko --> 
    <!-- ko if:$data.model.template($data.field) == 'form_html' -->
    <div class="input-field col s12">
        <div class="summernote user-html-text" data-bind='wysiwyg:$data.model[$data.field]'></div>
         <label class='forceActive' data-bind='lang:$data.field'></label>
    </div>
    <!-- /ko --> 
    <!-- ko if:$data.model.template($data.field) == 'form_number' -->
    <div class="input-field col s12">
        <input type="text" autocomplete="off" data-bind='attr:{id:$data.field},value:$data.model[$data.field],valueUpdate:"keyup"'>
        <label data-bind='attr:{for:$data.field},css:{active:_.isFunction($data.model[$data.field]) && !_.isEmpty($data.model[$data.field]()+"")},lang:$data.field'></label>
    </div>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'user_avatar' -->
    <div class="file-field avatar input-field col s12 center">
        <input type="file" data-bind='fileUpload:$data.model[$data.field]'></input>
        <input type="text" class="file-path"></input>
        <div class="file-path-wrapper">
            <span class='avatar' data-bind='letterAvatar:{img:$data.model[$data.field],name:$data.model.NameUser,size:100}'></span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'date' -->
    <div class="input-field col s12 center">
        <input type="text" class="datepicker" data-bind='attr:{id:$data.field},value:$data.model[$data.field],mdl-datepicker:$data.model[$data.field]'></input>
        <label data-bind='attr:{for:$data.field},css:{active:!_.isEmpty($data.model[$data.field]())},lang:$data.field'></label>
    </div>
    <!-- /ko -->    
    <!-- ko if:$data.model.template($data.field) == 'form_date' -->
    <div class="input-field col s12 center">
        <input type="text" autocomplete="off" data-bind='attr:{id:$data.field},value:$data.model[$data.field],valueUpdate:"keyup",mask:"00.00.0000"'>
        <label data-bind='attr:{for:$data.field},css:{active:_.isFunction($data.model[$data.field]) && !_.isEmpty($data.model[$data.field]())},lang:$data.field'></label>
    </div>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_array' -->
    <div class="input-field col s12">
        <select multiple data-bind='
                attr:{id:$data.field},
                selectedOptions:$data.model[$data.field],
                options:_.map($data.model.fieldConfig($data.field).variants,function(v){
                    return {id:v,text:tr(v)};
                }),
                optionsText:"text",
                optionsValue:"id",
                mdl-select:$data.model[$data.field]
            '>
        </select>
        <label data-bind='lang:$data.field'></label>
    </div>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'form_select' -->
    <div class="input-field col s12">
        <select  data-bind='
		    	attr:{id:$data.field},
		    	value:$data.model[$data.field],
		    	options:_.map($data.model.fieldConfig($data.field).variants,function(v){
		    		return {id:v,text:tr(v)};
		    	}),
		    	optionsText:"text",
		    	optionsValue:"id",
		    	mdl-select:$data.model[$data.field]
		    '>
        </select>
        <label data-bind='lang:$data.field'></label>
    </div>
    <!-- /ko -->
    <!-- ko if:$data.model.template($data.field) == 'checkbox_set' -->
        <div class="col s12 full-width-row">
            <table class="responsive-table striped bordered-white editable-cells">
                <thead>
                    <tr>
                        <th></th>
                        <th data-bind='lang:"set"+$data.field'></th>
                    </tr>
                </thead>
                <tbody data-bind='foreach:MModels.variants($data.model.modelName,$data.field)'>
                    <tr>
                        <td>
                            <label class="switch">
                                <!-- ko if:console.log($parent.model,$parents) --><!-- /ko -->
                                <input type="checkbox" data-bind='attr:{value:$data},checked:$parents[2][$data.field]' />
                                <span> </span>
                            </label>
                        </td>
                        <td data-bind='lang:$data'></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- /ko -->



    <!-- ko ifnot:_.includes(['checkbox_set','form_time_ranges','form_date','form_select','form_switch','form_time_range','form_color','form_time','form_array','date','user_avatar','form_text','form_number','form_html'],$data.model.template($data.field)) -->
    <div class="input-field col s12">
        <span data-bind='text:"["+$data.model.template($data.field)+"]"'></span>
    </div>
    <!-- /ko -->
</script>

<script id="aqua-button" type="text/html">
        <div class="aqua-button" data-bind="css:$data.type">
            <span class="aqua-button__bg" data-bind="css:$data.type"></span>
            <!-- ko ifnot:_.isFunction($data.click) -->
            <button target="" rel="nofollow" class="aqua-button__title waves-effect waves-light" data-bind='lang:$data.text,click:function(){return true;},stopBubble: true'></button>
            <!-- /ko -->
            <!-- ko if:_.isFunction($data.click) -->
            <button target="" rel="nofollow" class="aqua-button__title waves-effect waves-light" data-bind='click:$data.click,lang:$data.text,stopBubble: true'></button>
            <!-- /ko -->            
        </div>
</script>

<script id="model_edit_form" type="text/html">
    <div class="card card-form fixed-form-card" data-bind='with:ModelTableEdit.loadedModel'>
        <div class="card-content">
        	<!-- ko foreach:ModelTableEdit.editFields() -->
            <div class="row">
                <!-- ko template:{
		        		name:"model_field_edit",
		        		data:{
		        			model:$parent,
		        			field:$data,
		        			readOnly:ModelTableEdit.readOnlyFields().indexOf($data)!=-1
		        		}
	       			 } -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko with:ModelTableEdit.customfields -->
                <!-- ko foreach:_.keys($data) -->
                    <div class="row">
                            <!-- ko template:{
                                name:$parent[$data].edit,
                                data:{
                                    model:ModelTableEdit.loadedModel,
                                    field:$data
                                }
                            } --><!-- /ko -->
                    </div>
                <!-- /ko -->
            <!-- /ko -->

            <div class="row" data-bind='ifnot:_.isEmpty(ModelTableEdit.validationMessage())'>
                <!-- ko with:ModelTableEdit.validationMessage -->
                    <!-- ko template:"error-message" --><!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="row" data-bind='if:_.isFunction($data._id) && !_.isEmpty($data._id())'>
                <div class="input-field col s6 left-align">
                    <!-- ko template:{name:'aqua-button',data:{text:'Delete',click:ModelTableEdit.delete,type:'error'}} --><!-- /ko -->
                </div>
                <div class="input-field col s6 right-align" data-bind='if:_.isEmpty(ModelTableEdit.validationMessage())'>
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:ModelTableEdit.save,type:'success'}} --><!-- /ko -->
                </div>
            </div>
            <div class="row" data-bind='ifnot:_.isFunction($data._id) && !_.isEmpty($data._id())' >
	        	<div class="input-field col s6 right-align" data-bind='if:_.isEmpty(ModelTableEdit.validationMessage())'>
	            	<!-- ko template:{name:'aqua-button',data:{text:'Add',click:ModelTableEdit.save,type:'success'}} --><!-- /ko -->
	            </div>
			</div>
        </div>
    </div>
</script>

<script id="modal-model-edit-form" type="text/html">
    <div class="modal-title" data-bind='with:$data.model'>
        <!-- ko if:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
            Редактирование <span data-bind='lang:"model"+$data.modelName'></span>
        <!-- /ko -->
        <!-- ko ifnot:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
            Добавление <span data-bind='lang:"model"+$data.modelName'></span>
        <!-- /ko -->
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content">
        <div  data-bind='with:$data.model'>
            <div >
                <!-- ko foreach:$parent.editFields -->
                <div class="row">
                    <!-- ko template:{
                        name:"model_field_edit",
                        data:{
                            model:$parent,
                            field:$data
                        }
                     } -->
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="modal-footer mdl-grid" data-bind='with:$data.model'>
        <!-- ko if:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
        <div class="mdl-cell--3-col mdl-cell--2-col-phone text-right">
            <!-- ko template:{name:'aqua-button',data:{text:'Delete',click:$parent.remove,type:'error'}} -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div class="mdl-layout-spacer">
        </div>
        <div class="mdl-cell--3-col text-left mdl-cell--2-col-phone">
            <!-- ko template:{name:'aqua-button',data:{text:'Save',click:$parent.update,type:'success'}} -->
            <!-- /ko -->
        </div>
    </div>    
</script>

<script id="model_edit_table" type="text/html">
    <table class="mdl-data-table dataTable" style="width:100%" data-bind='with:ModelTableEdit'>
        <thead>
            <tr data-bind='foreach:tableFields()'>
                <th data-bind='lang:$data'></th>
            </tr>
        </thead>
        <tbody data-bind='foreach:list()'>
            <tr data-bind='
                css:{
                    choosed:$parent.isChoosed($data)
                },
                click:$parent.setChoosed,
                foreach:$parent.tableFields()
            '>
                <td>
                    <!-- ko template:{
	            		name:"model_field_display",
	            		data:{
	            			model:$parent,
	            			field:$data
	            		}
	            	} -->
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
	<!-- ko if:_.isEmpty(ModelTableEdit.list()) && !ModelTableEdit.isLoading() -->
        	<div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-content">
                        <!-- ko ifnot:_.isEmpty(ModelTableEdit.search()) -->
                            <p>Поиск не дал результатов</p> 
                        <!-- /ko -->
                        <!-- ko if:_.isEmpty(ModelTableEdit.search()) -->
                            <p>Записей - нет</p> 
                        <!-- /ko -->
                    </div>
                </div>
            </div>
	<!-- /ko -->
</script>

<script id="model_edit_search" type="text/html">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="model-table-edit-search" type="text" autocomplete="off" data-bind='
            		value:ModelTableEdit.search,
            		valueUpdate:"keyup",
            		event:{
        				focus:function(cx, ev){
        					var el = $(ev.target).next();
    						el.addClass("forceActive");
    					},
    					blur:function(cx, ev){
        					var el = $(ev.target).next();
    						el.removeClass("forceActive");
    					},
    				}
    		'></input>
            <label for="model-table-edit-search" data-bind='
            	css:{
            		active: !_.isEmpty(ModelTableEdit.search())
            	}
            '>Поиск</label>
        </div>
    </div>
</script>

