  <main>
    <center>
      <div class="section"></div>

      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px ">

          <form class="col s12" method="post" data-bind='submit:Login.login'>
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input  type='email' name='email' id='email' data-bind='value:Login.username' />
                <label for='email'>Email/User name</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input  type='password' name='password' id='password' data-bind='value:Login.password'/>
                <label for='password'>Password</label>
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' data-bind='click:Login.login'>Login</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

  