<script id="wallet-main-screen" type="text/html">
    <div class="dashboard-slide" style="padding-bottom: 15px;">
	        	<div class="dashboard-slide-title border-bottom" 1style='padding-bottom: 8px;'>
	        		WALLET <div class="button right p-lr-5 right-button">Access Wallet</div>
	        	</div>

	    <div class="row " 1style="padding-top: 30px;">
	        	<div class="col s6 border-right">
	        		<div class="dashboard-slide-subtitle" >MW Recs</div>
	        		<table class="text-info" >
						<tbody data-bind='foreach:Wallet.recsData()'>
							<tr>
								<td ><span data-bind='text:$data.title'></span></td>
								<td class="right-align">
									<!-- ko if:$data.status=='positive' -->
										<i class="material-icons positive">arrow_upward</i>
									<!-- /ko -->
									<span data-bind='text:$data.value'></span>
								</td>
							</tr>
						</tbody>
					</table>
	        	</div>
				<div class="col s3" >
					<div class="dashboard-slide-subtitle">KWh</div>
					<table class="countries-info" >
						<tbody data-bind='foreach:Wallet.countryData()'>
							<tr>
								<td> <span class="flag-icon" data-bind='css:$data.flag'></span></td>
								<td data-bind='text:$data.country'></td>
								<td> - </td>
								<td data-bind='text:$data.value'></td>
							</tr>
						</tbody>
					</table>
				</div>     	
				<div class="col s3" >
					<svg id="wallet" width="100" height="200" data-bind='wallet:Wallet.tableData'></svg>
				</div>        	
	    </div>
    </div>
</script>