<script id="mapslide-main-screen" type="text/html">
        <div class="row dashboard-slide">
        	<div class="dashboard-slide-title">
	        		TOP PRODUCTION
        	</div>

            <div class="col s5 mt-20">
	        	<div class="dashboard-slide-body" data-bind='with:MapSlide.tableData'>
		        	<div class="slide-bars" data-bind='foreach:$data'>
		        		<div class='bar' data-bind='style:{height:$data.height}'>&nbsp;</div>
		        	</div>
		        	<table class='slide-table' data-bind='foreach:$data'>
		        		<tr>
		        			<td class="title" data-bind='text:$data.title'></td>
		        			<td class="value" data-bind='text:$data.value+" MWh"'></td>
		        		</tr>
		        	</table>
	        	</div>
            </div>
            <div class="col s7 pm-0" >
                <svg id="map-show" width="300" height="150" data-bind='map:MapSlide.mapData'></svg>
            </div>
        </div>
</script>