.breadcrumbs {
    padding: 5px;
    margin-bottom: 15px;
    list-style: none;
    background-color: #7986CB;
    padding-left: 20px;
    margin-left: 0px;
}

.breadcrumbs>li {
    display: inline-block;
}

.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}

.breadcrumbs>li>a:hover {
    color: #F9F5F9;
}

.breadcrumbs>li>a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

.hidden-dom {
    visibility: hidden;
}
.row{
	margin-bottom: 0px;
}

.screen{
	color: rgba(255, 255, 255, 0.7);
	padding: 0.25em;
    overflow-x: hidden;
}
div.dashboard-slide{
	background-image: linear-gradient(#145CA6,#2A7CE2);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

div.dashboard-slide-title{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    /* margin: 5px; */
    /* padding-left: 5px; */
    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    padding:.75rem;
    padding-top:.25rem;
    padding-bottom:0px;
}
div.dashboard-slide-body{
	padding-right: 5px;
	border-right: 1px solid #4381D6;
	height: 100%;
}
table.slide-table{
	margin-top: 5px;
}
table.slide-table tr{
	margin-top: 5px; 
	margin-bottom: 5px; 
	border-top: 1px solid #4381D6;
	border-bottom: 1px solid #4381D6;
}
table.slide-table td{
    font-size: 0.6em;
    line-height: 2em;
    /* color: #9BC9FD; */
    padding: 0px;
    /* margin: 0px; */
    /* border-bottom: 0px; */
}

.slide-bars .bar{
    display: inline-block;
    width: 1em;
    /* margin-right: 0px; */
    border: 1px solid rgba(255, 255, 255, .2);
    background-image: linear-gradient(#ffffff78,#2d68b400);
    vertical-align: bottom;
}
div.bar-title{
font-size: 0.6em;
    
}
div.bar-container{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 20px;
}

div.progress-bar{
	height: 10px;
	background-color: white;
}
div.bar{
	height: 10px;
}

table.footprint-table tr{
	border-top:1px solid rgba(255, 255, 255, 0.2);
}
table.footprint-table td.info{

    /* width: 10%; */
    font-size: .6em;
    padding: 0.4em;
    /* margin: 2px; */
}
table.footprint-table td.value.info div.info {
	font-size:8px; 
}
table.footprint-table td.value.info {
	text-align: center;
    font-size: 1.1em;	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
div.button{
    /* color: white; */
    font-size: .8em;
    /* text-align: center; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: #00000047;
    /* line-height: 17px; */
    padding: 0 0.4em;
    /* float: right; */
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
div.with-float-table{
	margin-bottom: 60px;
	position: relative;
}
div.forecast-hover-table{
	position: absolute;
	bottom:  -55px;
	left:5%;
	width: 90%;
	background-color: white;
	border-radius: 5px;
}
div.forecast-hover-table .main{
	text-align: center;
	font-weight: bold;
	    color: #333;
}
div.forecast-hover-table .title{
	color:#CFCFCF;
	font-size:12px;
	text-align: center; 
}
.diff.negative{
	text-align: center;
	color:red;
	font-size:10px;
}
.diff.positive{
	text-align: center;
	color:green;
	font-size:10px; 
}
div.forecast-hover-table table td{
	border-right: 1px solid #CFCFCF; 
	padding: 5px;
	margin: 0px;

}
div.forecast-hover-table table tr:last-child {
	border-right: 0px; 
}
.mt-20{
	margin-top: 20px;
}
.pm-0{
	padding: 0px;
	margin: 0px;
}
svg#wallet{
    left: -15px;
    position: absolute;
    top: -15px;
}
.w100{
	width: 100%;
}
.right-button{

}
.p-lr-5{
	padding-right: 5px;
	padding-left: 5px;
}
.dashboard-slide{
	position: relative;
}
.border-bottom{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 5px;
}
.border-right{
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 5px;
}
table.countries-info, table.text-info{
	
}

table.countries-info tr, table.text-info tr{
	border:0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
table.countries-info td span.flag-icon{
	margin-left: 1px;
	margin-right: 1px;
}
table.countries-info td, table.text-info td{
	padding: 0px;
	margin: 0px;

	font-size: .6em;
	border:0px;
	padding-top: 3px;
}

table.text-info td{
	font-size: 11px;
	padding-top: 3px;	
	padding-bottom: 1px;	
}
table.text-info tr{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}
i.positive{
	font-size: 10px;
	color:#09CA25;
}
div.col{
	position: relative;
}
