<script id="forecast-main-screen" type="text/html">
        <div class="row dashboard-slide with-float-table">
        	<div class="dashboard-slide-title">
        		FORECAST
        	</div>
        	<div class="col s12 mt-20">
        		<svg id="forecast-show" width="310" height="100" data-bind='forecast:Forecast.forecastData'></svg>
        	</div>
        	<div class="forecast-hover-table z-depth-1">
        		<div class="title">Past 7 Day Production</div>
        		<div class="body" data-bind='with:Forecast.tableData'>
        			<table >
        				<tr data-bind='foreach:$data'>
        					<td>
        						<div class="main" data-bind='text:$data.title'></div>
        						<div class="diff" data-bind='text:$data.diff,css:$data.css'></div>
        					</td>
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
</script>