<script id="footprint-main-screen" type="text/html">
    <div class="dashboard-slide">
	    <div class="row">
	        	<div class="dashboard-slide-title">
	        		ENERGY FOOTPRINT
	        	</div>
	        	<div class="col s8">
	        		<svg id="energy-footprint" width="230" height="100" data-bind='footprint:Footprint.footprintData'></svg>
	        	</div>
				<div class="col s4" >
					<div class="footprint-bars-body" data-bind='with:Footprint.barsData'>
						<!-- ko foreach:$data -->
							<div class="bar-container">
								 <div class="bar-title" data-bind='text:$data.title'></div>
								 <div class="progress-bar">
								 	<div class="bar" data-bind='style:{width:$data.value,"background-color":$data.color}'></div>
								 </div>
							</div>
						<!-- /ko -->
					</div>
				</div>        	
	    </div>
	    <div class="row">
	    	<div class="col s12" data-bind='with:Footprint.tableData'>
	    		<table class="footprint-table"><tr>
	    			<!-- ko foreach:$data -->
	    				<td class="title info" data-bind='text:$data.title'>
	    				</td>
	    				<td class="value info" >
	    					<div data-bind='text:$data.value'></div>
	    					<!-- ko ifnot:_.isEmpty($data.info) -->
	    					<div class="info" data-bind='text:$data.info'></div>
	    					<!-- /ko -->
	    				</td>
	    			<!-- /ko -->
	    				<td>
	    					<div class="button">Reporting</div>
	    				</td>
	    		</tr></table>
	    	</div>
	    </div>
    </div>
</script>